filtered_fever_with_preprocessed_wiki.jsonl
reranked_output_5.jsonl
iirc_to_fever-2.jsonl
filtered_fever_with_wiki.jsonl
filtered_fever_with_wiki_updated.jsonl
converted_exfever_to_fever_with_wikitext.jsonl
fever_sample.jsonl
good_questions.jsonl
good_questions_threshold3_with_metrics.jsonl
good_questions_threshold3.jsonl
good_questions_threshold4_with_metrics.jsonl
good_questions_threshold4.jsonl
sample.jsonl
verification.py
results.jsonl
results_iterative.jsonl
*.jsonl
*.json
.env
*.html
*.dot
main.py
main2.py
main3.py
__pycache__
*.pyc
.DS_Store
.ipynb_checkpoints
.vscode
logs
*.log
checkpoints
*.ckpt
*.out
dragin-ciscoproj/
lib
*.so
__pycache__/
*.pyc
